<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEATHER DATA</title>
</head>
<body>
<h1>Weather Data Query</h1>
<h2>Python program to query average temp based on a dataset.</h2>

<p>Data for specific date: http://127.0.0.1:5000/api/v1/1/1988-01-01</p>
<p>Data for specific station: http://127.0.0.1:5000/api/v1/10</p>
<p>Data for specific year: http://127.0.0.1:5000/api/v1/yearly/10/1988</p>

    <nav>
        <a href="/api/v1/1/1990-01-01">Example: Weather</a>

    </nav>
<br>
<p>{{ station_data|safe }}</p>


<br>
<div class="acknowledgement">
    Acknowledgement:
    Klein Tank, A.M.G. and Coauthors, 2002. Daily dataset of 20th-century surface
    air temperature and precipitation series for the European Climate Assessment.
    Int. J. of Climatol., 22, 1441-1453.
    <p>Data and metadata available at</p><a href="http://www.ecad.eu">http://www.ecad.eu</a>
</div>

</body>
</html>