<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperatures</title>

</head>
<body>

<h3>Avg. temperature based on station and date.</h3>
<p>Please change the station and date accordingly.</p>

<table>
  <thead>
    <tr>
      <th>Station</th>
      <th>Date</th>
      <th>Temperature</th>
    </tr>
  </thead>
  <tbody>
    {% for data in table_data %}
      <tr>
        <td>{{ data['Station'] }}</td>
        <td>{{ data['Date'] }}</td>
        <td>{{ data['Temperature'] }}C</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<a href="http://127.0.0.1:5000">Home page</a>
</body>
</html>